snippet funn
	self.failUnless(${1})
snippet fif
	self.failIf(${1})
snippet ae
	self.assertEqual(${1})
snippet at
	self.assertTrue(${1})
snippet af
	self.assertFalse(${1})
snippet gmt
	mx.DateTime.gmt()
snippet printe
	print >> sys.stderr, 
