snippet ae
	self.assertEqual(${1})
snippet at
	self.assertTrue(${1})
snippet af
	self.assertFalse(${1})
snippet gmt
	mx.DateTime.gmt()
snippet printe
	print >> sys.stderr, 
snippet pp
	pprint.pprint(${1})
snippet dec
	decimal.Decimal(${1})
snippet mxd
	mx.DateTime.DateTime(${1})
